<div id="home-wrapper" class="container-fluid">
    <div class="row pt-5">
        <section class="col-sm-4 d-flex flex-column align-items-end">
            <h1 class="text-center text-warning">Cook your dreams</h1>
            <a href="/sign-up" class="btn-link success rounded">Get started</a>
        </section>
    </div>
</div>

<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-8 bg-primary">
            <span>Here's text in a column</span>
        </div>
        <section class="col-md-4">
            <h1 class="text-center text-warning">Home Page (index.ejs)</h1>
        </section>
    </div>
</div> -->


