html {
    font-size: 125%;
}

body {
    font-family: 'Dosis', sans-serif;
}

.navbar-brand img {
    width: 2rem;
}

h1 {
    color: red;
}
.cooked{
    color: gray;
    text-decoration: line-through;
}
