html {
    font-size: 125%;
}

body {
    font-family: 'Dosis', sans-serif;
}

.navbar-brand span {
    padding-left: 2rem;
}

.navbar-brand {
    background: no-repeat url("../img/skillet-icon.png") left/2rem;
}

body::before {
    display: block;
    content: '';
    height: 4rem;
}

/* .hero {
    padding-top: 80px;
} */

h1 {
    color: red;
}
.cooked{
    color: gray;
    text-decoration: line-through;
}
