html {
    font-size: 125%;
}

body {
    font-family: 'Dosis', sans-serif;
}

.navbar-brand img {
    width: 2rem;
}

.cooked{
    color: gray;
    text-decoration: line-through;
}

/* main .container-fluid {
    height: 80vh;
} */